# Build directory
build/

# Windows executables and object files
*.exe
*.dll
*.obj
*.o

# SFML unneeded personal files
SFML-3.0.0/

# Editor or IDE settings you don’t want to track,
.vscode/
*.suo
*.user

# Logs, temp files
*.log
*.tmp

# macOS
.DS_Store

# Visual Studio
*.vcxproj*
*.filters
